@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@500&family=Ubuntu:ital,wght@1,300;1,400&display=swap');

:root{
    --color-buttom:rgb(0, 87, 200);
    --color-card-pokemon:rgb(37,34,34);
    --color-border-card-pokemon:rgb(215, 230, 11);
    --color-name-and-type-card-pokemon:rgb(172, 110, 235);
    --color-background-pokemon-card:rgb(32, 136, 233);
}

*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif; /*Font Defult*/
}

html,body{
    height:100%; 
}

#red{
    height:50vh;
    width:100%;
    background-color:red;
    z-index: 0;
}

.search{
    left:16%;
    height:52px;
    width:62%;
    top: 5.5vh;
    padding-left: 30px;
}

.search{
    position: absolute;
    border-radius: 10px;
    border:2px solid black;
    font-size: 27px;
    text-align: center;
    z-index: 1;
}

.btn{
    position:absolute;
    width:17.9%;
    height:52px;
    right: 3.5%;
    top: 5.5vh;
}

.btn{
    border-radius: 10px;
    border: 2px solid black;
    background-color:var(--color-buttom);
    font-size: 20px;
    z-index: 1;
}

.line-pokebol{
    width: 100%;
    height:38px;
    background-color: rgb(0, 0, 0);
}

.align-center-items{
    justify-content: center;
    display:flex;
}

.circle-pokebol{
    width:115px;
    height:115px;
    margin-top:-60px;
    background-color:white;
    border:black 23px solid;
    border-radius:250px;
}

.container{
    width:97%;
    display: flex;
    justify-content: center;  
    margin-top: -26.5vh;
}

.information-pokemon{
    margin-left: 3%;
    position: absolute;
    width:340px;
    height:440px;
    background-color: var(--color-card-pokemon);
    border:3px solid var(--color-card-pokemon);
    border-radius:10px;
    animation: viewcard 3s linear;
}

@keyframes viewcard {
    0%{
        transform:rotatey(0deg);
    }50%{
        transform:rotatey(180deg);
    }100%{
        transform:rotatey(360deg);
    }
}

.information-pokemon > h1{
    text-align: center;
    font-family: Montserrat;
    border: 2px solid var(--color-border-card-pokemon);
    border-radius: 5px;
    font-size:32px;
    background-color:var(--color-name-and-type-card-pokemon); /*cor de background pokemon*/
}

.information-pokemon > h1 {
    height: 10%;
    width: 95.5%;
    margin:4px 0 7px 6px ;
}

#alternative-image > img{
    padding:20px 20px 30px 20px;
    width:284px;
    height: 247px;
    margin-left: 6px;
    background-color:var(--color-background-pokemon-card);
    border: 2px solid var(--color-border-card-pokemon);
    border-radius:5px;

}

.description{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95.5%;
    height: 62.8px;
    margin:3px 0 4px 6px;
    background-color:var(--color-name-and-type-card-pokemon);
    border: 2px solid var(--color-border-card-pokemon);
    border-radius: 5px;
}

.description > h2{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 25px;
    margin-left: 8px;
}

.rodape{
    background-color: rgb(235, 235, 235);
    width: 100%;
    position:absolute;
    bottom:0px;
    transform:translateY(700px);
}

.rodape > h1, h2, h3, a{
    font-family: "Ubuntu";
    padding-top:10px;
    font-weight: 300;
    color: black;
    text-align: center;
    font-size:28px;
}

.rodape > h3{
    font-size:23px;
}

a:hover{
    color:rgb(80, 80, 251);
}


@media (max-height:570px){

    #red{
        height:80vh;
    }

    .line-pokebol{
        position: absolute;
        bottom:18vh;
    }

    .container{
        margin-top:-35vh;
    }
}

@media (max-height:470px){

    #red{
        height:115vh;
    }

    .container{
        margin-top: -51vh;
    }

    .line-pokebol{
        position: absolute;
        bottom:-19vh;
    }
}

@media (max-width:430px){

    input[type="search"]{
        height:70px;
        left:23%;
        width: 200px; 
        font-size:22px;       
    }
    
    .btn{
        top:130px;
        left: 23%;
        width:200px;
        font-size:27px;       
        height:70px; 
    }

    .container{
        transform:translateY(80px);
    }

    .information-pokemon{
        width:280px;
        height:380px;
    }
    
    #alternative-image > img{
        width:225px;
        height: 185px;
    }
    
    .information-pokemon > h1,.description{
        width:95%;
        font-size: 31px;
    }

    .description > h2{
        font-size: 24px;
    }

    .description{
        height:72px;
    }
}

@media (max-width:391px){


    input[type="search"]{
        left:34%;
        width:115px; 
        font-size:17px;       
    }
    
    .btn{
        left: 34%;
        width:115px;
        font-size:20px;       
    }
    
    .information-pokemon{
        width:200px;
        height:365px;
    }
    
    #alternative-image > img{
        width:143px;
        height: 170px;
    }
    
    .information-pokemon > h1,.description{
        width:92%;
        font-size: 22px;
    }

    .description > h2{
        font-size: 20px;
    }

    .description{
        height:72px;
    }

    .rodape > h1, h2, a{
        font-size:23px;
    }
}


@media (max-width:391px){

    input[type="search"]{
        left:28%;
    }
    
    .btn{
        left:28%;
    }
}
